<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthCare.Web</title>


    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--agregado para los iconos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.css" />


    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>
<body style="background-image: url(https://i2.wp.com/studiomedicozichichi.palermo.it/wp-content/uploads/2016/10/Tluxgvgn7_qyGgPfE64NxsIhy3Q.png?w=980);
        background-repeat: no-repeat;
        background-size: cover;" >
    <header>

        
        <partial name="_LoginPartial" />

    </header>
    <div class="container">
        <main role="main" class="pb-3 black-opacity-2 mt-3 p-5 rounded-3 text-white">

            <!--agregado para mostrar titulo-->
            @if (@ViewData["TituloOperacion"] != null)
            {
                <h2 class="efectoTitulo"> @ViewData["TituloOperacion"]</h2>
                <hr />
             }

            @{ var msj = @TempData["mensaje"];
                var tipo = @TempData["tipo"];

                if (msj != null && tipo != null)
                {
                <div class="alert @tipo alert-dismissible fade show" role="alert">
                    @msj
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
                } 
             }

            @RenderBody()

        </main>
    </div>


    <footer class="border-top footer text-muted black-opacity text-white text-center ">
        <div class="container">
            &copy; 2021 - HealthCare.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/js/site.js" asp-append-version="true"></script>

    

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
