@model IEnumerable<HealthCare.Web.Models.Tratamiento>

@{
    ViewData["Title"] = "Tratamientos";
    ViewData["TituloOperacion"] = "Tratamientos";    
}

<p>
    <a class="btn btn-chartreuse text-sombreado" asp-action="Create"><i class="fas fa-plus"></i> Crear Nuevo</a>
</p>
<table id="miTabla" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioCreacion.Apellido)
                </td>
                <td>
                    <a class="btn btn-warning text-white text-sombreado" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen"></i> Editar</a>
                    
                    <a class="btn btn-primary text-sombreado" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-list-ul"></i> Detalles</a>
                    <a class="btn btn-danger text-sombreado" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Eliminar</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>


