@model HealthCare.Web.Models.Producto

@{
    ViewData["Title"] = "Productos";
    ViewData["TituloOperacion"] = "Detalles";

}



<div>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>


    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Modificar</a>
    <a class="btn btn-primary" btn asp-action="Index">Volver a lista</a>
</div>